<ul>
    <li *ngFor="let producto of productos">
        <a routerLink="/productos/{{producto.id}}">
            <img [src]="producto.imageUrl" alt= "{{producto.name}}"/>
            <div class ="content">
                <div class ="name">
                    {{producto.name}}
                </div>
            
            <div class="product-item-footer">
                <div class="price">
                    <span>
                        {{producto.price | currency}}
                    </span>
                </div>
            </div>
            </div>
        </a>
        
    </li>
</ul>