<table>
    <tr>
        <td colspan="5">
            <h3>Lista de compra:</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <a routerLink="/productos/{{item.producto.id}}">
                <img [src]="item.producto.imageUrl"/>
            </a>
        </td>
        <td>
            {{item.producto.name}}
        </td>
        <td>
            {{item.producto.price | currency:'Q'}}
        </td>
        <td>
            {{item.quantity}}
        </td>
        <td>
            {{item.price | currency:'Q'}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>
                Total:
            </strong>
        </td>
        <td>
            <strong>
                {{order.totalPrice | currency:'Q'}}
            </strong>
        </td>
    </tr>
</table>