<header>
    <div class="container">
        <a routerLink="/" class="logo">Copy Center Evelyn</a>
        <nav>
            <ul>
                <li *ngIf="isAuth">
                    <li *ngIf="!isAdmin()">
                    <a routerLink="/empastados-page">Crea tu Empastado</a>
                </li>
                <!-- *ngIf="!isAuth"-->
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Iniciar Sesión</a>
                    <li *ngIf="isAdmin()" class ="menu-container">
                        <a routerLink="/admin-page">Admin</a>
                        <div class ="menu">
                            <a routerLink="/ordenes-empastados-page">Ordenes Empastado</a>
                        </div>
                    </li>
                <!-- *ngIf="isAuth" -->
                <li *ngIf="isAuth"  class ="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class ="menu">
                        <a routerLink="/order-person">Ordenes</a>
                        <a routerLink="/ordenes-empastados-persona-page">Ordenes Empastado</a>
                        <a (click)="logout()">Cerrar Sesión</a>
                    </div>
                </li>
                <li *ngIf="isAuth">
                    <li *ngIf="!isAdmin()">
                    <a routerLink="/cart-page">
                        Carrito <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>