header{
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 1px solid #1E8449;

}
ul li {
    margin-left: 5px; 
    margin-right: 5px; 
}

ul li a {
    padding-left: 10px; 
    padding-right: 10px; 
    font-size: 1.2rem; 
}

ul li:last-child {
    margin-right: 50px; 
}

a{
    color : #010101;
}

a:hover{
    background: #4BDF8A;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1rem;
    font-size: 1.5rem;
}

ul{
    display: flex; 
    list-style-type: none;
    margin: 0;

}

ul a{
    padding: 1rem;
    display: inline-block;
}

a span{
    background: #1E8449;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.menu-container:hover .menu{
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8rem;
    font-size: 1.2rem;
}