<div class="container">
    <div class="details">
        <app-title title="Iniciar Sesión"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            
            

            <text-input
            [control]="fc['email']"
            [showErrorsWhen]="isSubmitted"
            type="email"
            label="Correo Electrónico"
            ></text-input>
            <text-input
            [control]="fc['password']"
            [showErrorsWhen]="isSubmitted"
            type="password"
            label="Contraseña"
            ></text-input>
            
            
           
            <default-button text="Iniciar Sesión"></default-button>
        </form>
    </div>
</div>