<div class="container">
    <h2>Mis empastados:</h2>
    <h3>¡Recuerda que los empastados se pagan en el local!</h3>
    <h4>Nota: Todo empastado está para el día siguiente tras pedirlo</h4>
    <ul>
      <li *ngFor="let documento of userDocuments">
        <p>Nombre del documento: {{ documento.fileName }}</p>
        <p>Precio: Q.{{ documento.totalPrice }}</p>
        <p>Estado actual del empastado: {{ documento.status }}</p>
      </li>
    </ul>
    <p class="no-documents" *ngIf="!userDocuments || userDocuments.length === 0">
      No se encontraron documentos para este usuario.
    </p>
  </div>