<div class="controls">
    <button class="menu-button" (click)="changeTexture(0)">Café texturizado</button>
    <button class="menu-button" (click)="changeTexture(1)">Cuerina</button>
    <button class="menu-button" (click)="changeTexture(2)">Verde oscuro texturizado</button>
    <button class="menu-button" (click)="changeTexture(3)">Rojo sangre</button>
    <button class="menu-button" (click)="changeTexture(4)">Rojo sangre portada</button>
    <input type="file" (change)="addLogo($event, 0)" accept=".png">
    <a routerLink="/pedido">Completar Pedido</a>
</div>
    <!-- Agrega más botones según el número de texturas -->